<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <parameter name="webDriver" value="FireFox"></parameter>
    <parameter name="canal" value="1"></parameter>
    <test name="webDrivers" >
        <classes>
            <class name="core.Base" />
        </classes>
    </test>
</suite>
